<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/assignments.css') }}">
        <title>Assignments</title>

    </head>

    <body>

        <div class = "header">

            <h1>Assignments</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class = "assignmentInfo">

            <div class = "info">
                <h2>Topic: Relational Algebra and MySQL</h2>
                <h2>Weight: 15%</h2>
                <h2>Due Date: Part 1 -> Feb. 1, 11:59</h2>
            </div>

            <div class = "info">
                <h2><a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
                <h2>Due Date: Part 2 and 3 -> Feb 11, 11:59</h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Topic: HTML, CSS, PHP</h2>
                <h2>Weight: 15%</h2>
                <h2>Due Date: Part 1 -> March. 10, 11:59pm</h2>
            </div>

            <div class = "info">
                <h2><a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
                <h2>Due Date: Part 2 -> March 19, 11:59</h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Topic: Web Application and Database</h2>
                <h2>Weight: 15%</h2>
                <h2>Due Date: March. 31, 11:59pm</h2>
            </div>

            <div class = "info">
                <h2><a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

        </div>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>