<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/courseteam.css') }}">
        <title>CourseTeam</title>

    </head>

    <body>

        <div class = "header">

            <h1>CourseTeam</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class = "courseTeamInfo">

            <div class = "info">
                <h2>Purva: Tuesday 10-11am</h2>
                <h2><a href="https://utoronto.zoom.us/j/83542936911 ">zoom link</a></h2>
                <h2>passcode: 003308</h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Rick: Wednesday 5-6pm</h2>
                <h2><a href="https://utoronto.zoom.us/j/4637273340 ">zoom link</a></h2>
                <h2>passcode: 6NdBG8</h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Vidya: Tuesday 3-5pm</h2>
                <h2>In Person @ IC400A</h2>
                <h2>passcode: N/A</h2>
            </div>

        </div>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>