<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/faq.css') }}">
        <title>FAQ</title>

    </head>

    <body>

        <div class = "header">

            <h1>FAQ</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class = "faqInfo">

            <div class = "info">
                <h2>Q: How do I request a remark?</h2>
            </div>

            <div class = "info">
                <h2>A: Set up an appointment with instructor and TA that marked your assignment/exam</h2>
            </div>
 
            <div class = "divider"></div>

            <div class = "info">
                <h2>Q: How much people can I work with on assignments?</h2>
            </div>

            <div class = "info">
                <h2>A: Some assignments allow you to work with up to two members and other three</h2>
            </div>
 
            <div class = "divider"></div>

            <div class = "info">
                <h2>Q: What is the late policy?</h2>
            </div>

            <div class = "info">
                <h2>A: Late submissions will have a penalty of 10%, up till 3 days past the deadline</h2>
            </div>

        </div>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>