<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <title>Home</title>

    </head>

    <body>

        <div class = "header">

            <h1>Welcome To CSCB20</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class = "courseDescription">

            <h2>Course Description:</h2>
            <p>This course introduces databases and web app development</p>
            <p>Prerequisite: Experience with programming in Python, Java, or C</p>
            <p>Exclusion: May not be taken after or concurrently with any C or D level CSC course</p>

        </div>

        <div class = "divider"></div>

        <div class = "courseLinks">
            
            <h2>Discussion Board: <a href="https://piazza.com/class/kxj5alixpjg4ft">Piazza</a> </h2>
            <h2>Submission: <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments">MarkUs</a> </h2>
            <h2>Course Outline: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Syllabus</a> </h2>

        </div>

        <div class = "divider"></div>

        <div class = "instructorInfo">

            <h2>Instructor: Dr. Anna Bretscher</h2>
            <img src="https://www.utsc.utoronto.ca/cms/sites/utsc.utoronto.ca.cms/files/styles/person-thumbnail/public/Anna_Bretscher.jpg?itok=fsOxaRe6" alt="Could not load image">
            
            <div class = "info">
                <h2>Email: </h2>
                <p>bretscher@utsc.utoronto.ca</p>
            </div>
            <div class = "info">
                <h2>Office: </h2>
                <p>IC493</p>
            </div>
            <div class = "info">
                <h2>Phone: </h2>
                <p>(416) 208-4745</p>
            </div>
            <div class = "info">
                <h2>Lectures: </h2>
                <p>Mondays 9:15am-11:00an in HW 216</p>
            </div>
            <div class = "info">
                <h2>Office Hours: </h2>
                <p>Weds, 11:00am-12:00pm</p>
            </div>

        </div>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>