<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/instructorlabs.css') }}">
        <title>Lab Grades</title>

    </head>

    <body>

        <div class = "header">

            <h1>Your Student's Lab Grades</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <table class = "grades_table">

            <tr>
                <th>Username</th>
                <th>Lab #</th>
                <th>Mark</th>
            </tr>
            
            {% for Lab in users_lab_result %}
            <tr>
                <td> {{ Lab.username }}</td>
                <td> {{ Lab.lab_number }}</td>
                <td> {{ Lab.mark }}%</td> 
            </tr>
            {% endfor %}

        </table>

        <br>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>