<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/labs.css') }}">
        <title>Labs</title>

    </head>

    <body>

        <div class = "header">

            <h1>Labs</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class = "labInfo">

            <div class = "info">
                <h2>Week 2: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 3: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 4: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 5: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 6: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 7: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 8: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 9: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Week 10: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Handout</a></h2>
                <h2>Solutions: <a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">ANS</a></h2>
            </div>

        </div>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>