<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/resources.css') }}">
        <title>Resources</title>

    </head>

    <body>

        <div class = "header">

            <h1>Resources</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class = "resourceInfo">

            <div class = "info">
                <h2>Online Resources</h2>
            </div>

            <div class = "info">
                <h2><a href="https://piazza.com/class/kxj5alixpjg4ft?cid=209">Piazza Link</a></h2>
                <h2><a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200">Beginner Tutorial for MySQL</a></h2>
            </div>

            <div class = "divider"></div>

            <div class = "info">
                <h2>Software and Documentation</h2>
            </div>

            <div class = "info">
                <h2>Mac: Open "terminal" and login to mathlab by typing "ssh utorid@mathlab.utsc.utoronto.ca"</h2>
            </div>

            <div class = "info">
                <h2>Windows: Download SSH client: <a href="https://www.putty.org/">Download PuTTY</a></h2>
            </div>

        </div>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>