<!DOCTYPE html>
<html>

    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
        <title>Tests</title>

    </head>

    <body>

        <div class = "header">

            <h1>Tests</h1>

        </div>

        <div class = "break">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class = "testInfo">

            <div class = "divider"></div>

            <div class = "info">
                <h2>Topic: Midterm</h2>
                <h2>Length: 75min</h2>
            </div>

            <div class = "info">
                <h2>Location: HW215 if last name starts with A-HE, HW216 if last name starts with HO-Z</h2>
            </div>

            <div class = "info">
                <h2>Date: February 13, 5:00pm</h2>
                <h2>Instructor: Anna Bretscher</h2>
            </div>

            <div class = "info">
                <h2>Material Covered: A1 and Week 1 - Week 6 inclusive</h2>
            </div>

            <div class = "info">
                <h2><a href="https://mag.wcoomd.org/uploads/2018/05/blank.pdf">Previous Midterm</a></h2>
            </div>

        </div>

        <footer>

            <p>Site designed by: Mario Liao</p>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT </a>

        </footer>

    </body>

</html>